.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 9vw;
  height: 4.5vh;
  padding: 1vw;

  border: 0;
  border-radius: 1vw;

  font-size: 20px;
  background-color: rgb(66, 103, 178);
  color: rgb(255, 255, 255);
  outline: none;

  transition: background-color 0.5s, color 0.5s;

  &:focus,
  &:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(66, 103, 178);
    border: 1px solid rgb(66, 103, 178);
  }
}
